<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyGate</display-name>
  <welcome-file-list>
    <welcome-file>Signup.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.Controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListUserController</display-name>
    <servlet-name>AdminListUserController</servlet-name>
    <servlet-class>com.Controller.AdminListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListUserController</servlet-name>
    <url-pattern>/AdminListUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AproveController</display-name>
    <servlet-name>AproveController</servlet-name>
    <servlet-class>com.Controller.AproveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AproveController</servlet-name>
    <url-pattern>/AproveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHouseController</display-name>
    <servlet-name>AddHouseController</servlet-name>
    <servlet-class>com.Controller.AddHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHouseController</servlet-name>
    <url-pattern>/AddHouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemberController</display-name>
    <servlet-name>AddMemberController</servlet-name>
    <servlet-class>com.Controller.AddMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberController</servlet-name>
    <url-pattern>/AddMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminSideMemberController</display-name>
    <servlet-name>ViewAdminSideMemberController</servlet-name>
    <servlet-class>com.Controller.ViewAdminSideMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminSideMemberController</servlet-name>
    <url-pattern>/ViewAdminSideMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddinstructionController</display-name>
    <servlet-name>AddinstructionController</servlet-name>
    <servlet-class>com.Controller.AddinstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddinstructionController</servlet-name>
    <url-pattern>/AddinstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInstructionController</display-name>
    <servlet-name>ListInstructionController</servlet-name>
    <servlet-class>com.Controller.ListInstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInstructionController</servlet-name>
    <url-pattern>/ListInstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInstructionCotroller</display-name>
    <servlet-name>DeleteInstructionCotroller</servlet-name>
    <servlet-class>com.Controller.DeleteInstructionCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInstructionCotroller</servlet-name>
    <url-pattern>/DeleteInstructionCotroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInsructionController</display-name>
    <servlet-name>ListInsructionController</servlet-name>
    <servlet-class>com.Controller.ListInsructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInsructionController</servlet-name>
    <url-pattern>/ListInsructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInsructionSecurityController</display-name>
    <servlet-name>ListInsructionSecurityController</servlet-name>
    <servlet-class>com.Controller.ListInsructionSecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInsructionSecurityController</servlet-name>
    <url-pattern>/ListInsructionSecurityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddinstructionSecurityController</display-name>
    <servlet-name>AddinstructionSecurityController</servlet-name>
    <servlet-class>com.Controller.AddinstructionSecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddinstructionSecurityController</servlet-name>
    <url-pattern>/AddinstructionSecurityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListHouseController</display-name>
    <servlet-name>ListHouseController</servlet-name>
    <servlet-class>com.Controller.ListHouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHouseController</servlet-name>
    <url-pattern>/ListHouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.Controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>